.gift {
  padding-bottom: 135px;

  @include laptop {
    padding-bottom: 100px;
  }

  @include tablet {
    padding-bottom: 80px;
  }

  @include mobile {
    padding-bottom: 60px;
  }

  &__wrapper {
    position: relative;
    min-height: 381px;
    display: flex;
    align-items: center;

    @include laptop {
      min-height: 292px;
    }

    @include tablet {
      flex-direction: column-reverse;
      gap: 24px;
    }

    &:after {
      content: "";
      display: block;
      width: 381px;
      height: 381px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 32px;
      background-image: url("../img/bonus.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @include laptop {
        width: 292px;
        height: 292px;
        right: -26px;
      }

      @include tablet {
        position: static;
        transform: none;
        width: 194px;
        height: 194px;
      }
    }
  }

  &__text {
    max-width: 802px;

    @include tablet {
      text-align: center;
      max-width: 100%;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 24px;
    @include laptop {
      font-size: 48px;
      line-height: 1.1;
      margin-bottom: 16px;
    }

    @include tablet {
      font-size: 40px;
    }

    @include mobile {
      font-size: 28px;
      text-align: center;
      margin-bottom: 8px;
    }

    &-subtext {
      margin-bottom: 52px;
      @include laptop {
        margin-bottom: 40px;
      }

      @include mobile {
        text-align: center;
      }
    }
  }

  &__text-subtitle {
    @include mobile {
      display: inline;
    }
  }

  &__button {
    display: block;
    width: 100%;
    max-width: 320px;
    height: 64px;
    font-size: 20px;
    line-height: 1.2;

    @include laptop {
      font-size: 16px;
      line-height: 120%;
      height: 43px;
      max-width: 220px;
    }

    @include tablet {
      max-width: 100%;
    }
  }
}
