.hero {
  position: relative;
  z-index: 1;

  &__container {
    position: relative;
    display: flex;
    // gap: 30px;
    justify-content: space-between;

    &:after {
      content: "";
      flex-basis: 434px;
      flex-grow: 0;
      background-image: url("../img/man-with-notebook.png");
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;

      @include laptop {
        flex-basis: 322px;
      }

      @include tablet {
        position: absolute;
        z-index: 1;
        display: block;
        width: 240px;
        height: 314px;
        right: -39px;
        bottom: -12px;
      }

      @include mobile {
        width: 300px;
        height: 380px;
        right: 35px;
        bottom: -6px;
      }

      @media (max-width: 480px) {
        width: 51vw;
      }
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    padding: 206px 0 94px 0;
    flex-basis: 657px;
    max-width: 100%;
    position: relative;

    @include laptop {
      flex-basis: 559px;
      padding: 148px 0 71px 0;
    }

    @include tablet {
      padding: 148px 0 50px 0;
    }

    @include mobile {
      padding: 85px 0 230px 0;
    }
  }

  &__list {
    display: flex;
    gap: 8px;

    @include mobile {
      flex-direction: column;
      align-items: start;
    }
  }

  &__list-item {
    padding: 12px 18px 12px 50px;
    border-radius: 64px;
    background-color: $headerItemBG;
    font-size: 20px;
    background-position: left 15px center;
    background-repeat: no-repeat;

    &_date {
      background-image: url("../img/clock.svg");
    }
    &_practice {
      background-image: url("../img/monitor.svg");
    }
    &_curator {
      background-image: url("../img/frame.svg");
    }

    @include laptop {
      padding: 8px 15px 8px 47px;
      font-size: 16px;
    }
  }

  &__hero {
    position: absolute;
    right: -600px;
    top: -165px;
  }
}
