.plan {
  position: relative;
  z-index: 2;
  padding-top: 0;

  &__wrapper {
    padding: 80px 60px;
    border-radius: 32px;
    background-color: $planBG;

    @include laptop {
      padding: 60px 40px;
    }

    @include mobile {
      padding: 40px 20px;
    }
  }

  &__title {
    color: $white;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    margin-bottom: 32px;

    @include laptop {
      font-size: 28px;
      line-height: 110%;
      margin-bottom: 24px;
    }

    @include mobile {
      font-size: 22px;
      margin-bottom: 12px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 9px;
    margin-bottom: 50px;

    @include laptop {
      gap: 12px 20px;
      margin-bottom: 32px;
    }

    @include tablet {
      grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
      gap: 12px 20px;
    }
  }

  &__list-item {
    gap: 9px;
    display: flex;
    flex-wrap: nowrap;
    color: $white;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

    background-image: url("/img/tick-square.svg");
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 34px;

    @include laptop {
      font-size: 16px;
    }
  }
}
