.project-view {
  padding: 70px 0 135px;

  @include laptop {
    padding: 50px 0 100px;
  }

  @include tablet {
    padding: 40px 0 80px;
  }

  @include mobile {
    padding: 30px 0 60px;
  }

  &__title {
    margin-bottom: 40px;

    @include laptop {
      margin-bottom: 28px;
    }

    @include tablet {
      margin-bottom: 16px;
    }
  }

  &__site {
    border: 10px solid #ededed;
    border-radius: 32px;
    max-width: 100%;
    width: 1320px;
    height: 60vw;
    overflow-y: auto;
    font-size: 0;
  }
}
