.reviews {
  padding: 70px 0 140px 0;

  &__title {
    // margin-bottom: 80px;
  }

  &__slide {
    padding-top: 43px;
    padding-left: 36px;
  }

  &__slider-item {
    position: relative;
    padding: 32px;
    background-color: $superHeroBG;
    border-radius: 32px;
  }

  &__slider-avatar {
    height: 54px;
    width: 54px;
    position: absolute;
    top: -43px;
    left: -36px;
  }

  &__slider-title {
    color: $primary;
    margin-bottom: 10px;
  }

  &__slider-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $primaryDark;
    margin-bottom: 10px;
  }

  &__slider-button {
    font-size: 21px;
    color: $sliderButtonText;
    border: none;
  }
}
