.reviews {
  overflow-x: hidden;
  padding: 85px 0 140px;

  @include laptop {
    padding: 50px 0 100px;
  }

  @include tablet {
    padding: 40px 0 80px;
  }

  @include mobile {
    padding: 30px 0 60px;
  }

  &__title {
    margin-bottom: 40px;

    @include laptop {
      margin-bottom: 24px;
    }

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__slider {
    overflow: visible;
  }

  &__slide {
    box-sizing: border-box;
    padding-top: 39px;
    padding-left: 39px;
    width: 398px;

    @include laptop {
      width: 324px;
    }

    @include mobile {
      padding-left: 0;
      padding-top: 62px;
      width: 230px;
    }
  }

  &__slider-item {
    position: relative;
    padding: 32px;
    background-color: $superHeroBG;
    border-radius: 32px;

    @include laptop {
      padding: 24px;
    }

    @include mobile {
      padding: 20px;
    }
  }

  &__slider-avatar {
    height: 54px;
    width: 54px;
    position: absolute;
    top: -39px;
    left: -39px;

    @include mobile {
      top: -62px;
      left: 0;
    }
  }

  &__slider-title {
    color: $primary;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #1e212a;

    @include laptop {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      color: #1e212a;
    }
  }

  &__slider-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #605f5f;
    margin-bottom: 10px;

    @include laptop {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      color: #605f5f;
    }
  }

  &__slider-button {
    font-size: 21px;
    color: $sliderButtonText;
    border: none;
  }
}
