.title {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 24px;
  position: relative;

  @include laptop {
    font-size: 48px;
    margin-bottom: 20px;
  }

  @include tablet {
    font-size: 40px;
  }

  @include mobile {
    font-size: 28px;
  }

  &-subtext {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 52px;
    color: #605f5f;

    @include laptop {
      font-size: 16px;
      line-height: 120%;
      margin-bottom: 40px;
    }

    @include tablet {
      font-size: 16px;
      line-height: 120%;
    }
  }

  &-text {
    @include laptop {
      margin-bottom: 16px;
    }

    &_subtitle {
      display: block;
    }

    &_promo {
      display: inline-block;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.1;
      padding: 14px 20px 11px;
      border-radius: 64px;
      vertical-align: middle;
      background: linear-gradient(
        244.87deg,
        rgba(250, 209, 38, 0.996) 10.67%,
        #ff544f 173.75%
      );

      &_one {
        @include mobile {
          display: none;
        }
      }

      &_two {
        display: none;

        @include mobile {
          display: inline;
        }
      }

      @include laptop {
        font-size: 20px;
      }

      @include tablet {
        padding: 11px 15px 9px 15px;
      }

      @include mobile {
        font-size: 16px;

        padding: 8px 10px 7px 10px;
      }
    }
    &_orange {
      color: $primaryLight;
    }
  }
}
